/*Таблица без стилей*/
table.blank { border: #f00 solid; border-width: 2px 2px 2px 2px; /* border: #f00 solid; border-width: 2px 2px 2px 2px; */ }
/*Таблица с границами*/
table.blank2 { background-color: #888; /* background-color: #888; */ }

/* Цвет красный */
p.fntRed, b.fntRed, i.fntRed, pre.fntRed, li.fntRed, tr.fntRed, td.fntRed, sub.fntRed, sup.fntRed, h1.fntRed, h2.fntRed, h3.fntRed, h4.fntRed, h5.fntRed, h6.fntRed { color: #d41f0e; /* color: #d41f0e; */ }
/* Цвет желтый */
p.fntYlw, b.fntYlw, i.fntYlw, pre.fntYlw, li.fntYlw, tr.fntYlw, td.fntYlw, sub.fntYlw, sup.fntYlw, h1.fntYlw, h2.fntYlw, h3.fntYlw, h4.fntYlw, h5.fntYlw, h6.fntYlw { color: #fde608; /* color: #fde608; */ }
/* Цвет синий */
p.fntBlu, b.fntBlu, i.fntBlu, pre.fntBlu, li.fntBlu, tr.fntBlu, td.fntBlu, sub.fntBlu, sup.fntBlu, h1.fntBlu, h2.fntBlu, h3.fntBlu, h4.fntBlu, h5.fntBlu, h6.fntBlu { color: #04469b; /* color: #04469b; */ }
/* Цвет Серый */
p.fntGre, b.fntGre, i.fntGre, pre.fntGre, li.fntGre, tr.fntGre, td.fntGre, sub.fntGre, sup.fntGre, h1.fntGre, h2.fntGre, h3.fntGre, h4.fntGre, h5.fntGre, h6.fntGre { color: #666666; /* color: #666666; */ }
/* Цвет Черный */
p.fntBla, b.fntBla, i.fntBla, pre.fntBla, li.fntBla, tr.fntBla, td.fntBla, sub.fntBla, sup.fntBla, h1.fntBla, h2.fntBla, h3.fntBla, h4.fntBla, h5.fntBla, h6.fntBla { color: #000000; /* color: #000000; */ }

/* Левый (текст) */
p.alnLft, pre.alnLft, li.alnLft, table.alnLft, tr.alnLft, td.alnLft, h1.alnLft, h2.alnLft, h3.alnLft, h4.alnLft, h5.alnLft, h6.alnLft { text-align: left;    /* text-align: left; */ }
/* Правый (текст) */
p.alnRgt, pre.alnRgt, li.alnRgt, table.alnRgt, tr.alnRgt, td.alnRgt, h1.alnRgt, h2.alnRgt, h3.alnRgt, h4.alnRgt, h5.alnRgt, h6.alnRgt { text-align: right;   /* text-align: right; */ }
/* Центр (текст) */
p.alnCnt, pre.alnCnt, li.alnCnt, table.alnCnt, tr.alnCnt, td.alnCnt, h1.alnCnt, h2.alnCnt, h3.alnCnt, h4.alnCnt, h5.alnCnt, h6.alnCnt { text-align: center;  /* text-align: center; */ }
/* По ширине (текст) */
p.alnJst, pre.alnJst, li.alnJst, table.alnJst, tr.alnJst, td.alnJst, h1.alnJst, h2.alnJst, h3.alnJst, h4.alnJst, h5.alnJst, h6.alnJst { text-align: justify; /* text-align: justify; */ }

/* Верт верхний */
tr.alnTop, td.alnTop { vertical-align: top;    /* vertical-align: top; */ }
/* Верт центр */
tr.alnMdl, td.alnMdl { vertical-align: middle; /* vertical-align: middle; */ }
/* Верт нижний */
tr.alnBtm, td.alnBtm { vertical-align: bottom; /* vertical-align: bottom; */ }

/* B и I без стиля */
b.fntNrm, i.fntNrm { font-weight: normal; font-style: normal; /* font-weight: normal; font-style: normal; */ }